@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-image: url(./assets/rainy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(133, 216, 255);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header input {
    flex: 1 1 auto;
    height: 40px;
    min-width: 200px;
    max-width: 400px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

#change-unit {
    border: none;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

#change-unit:hover {
    cursor: pointer;
    background-color: rgb(201, 201, 201);
}

#change-unit:active {
    background-color: rgb(143, 143, 143);
}

/* Main Body */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.icon {
    height: 100px;
    width: 100px;
}

.city,
.current-day {
    font-size: 2rem;
    font-weight: bold;
}

.current-temp {
    font-size: 3rem;
    font-weight: bold;
}

.current-day,
.city,
.current-temp,
.feels,
.condition,
.sunrise,
.sunset,
.humidity,
.pressure {
    color: white;
}

.current-weather {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: 10px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
}

.current-weather-extra {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: 10px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
}

/* Forecast */
.forecast {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: 10px;
    text-align: center;
    width: 600px;
    border-radius: 5px;
}

.forecast div {
    flex: 0 0 100px;
    color: white;
}

/* Footer */
footer {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    flex-shrink: 1;
    color: white;
}

footer a {
    color: white;
}

@media screen and (max-width: 480px) {
    header input {
        max-width: 300px;
    }

    .forecast {
        width: 300px;
        flex: 1;
    }
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(193, 58, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(213, 122, 255);
}
