@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(133, 216, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header input {
    flex: 1 1 auto;
    height: 40px;
    min-width: 200px;
    max-width: 400px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

/* Main Body */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.icon {
    height: 100px;
    width: 100px;
}

.city {
    font-size: 2rem;
    font-weight: bold;
}

.current-temp {
    font-size: 3rem;
    font-weight: bold;
}

.city,
.current-temp,
.feels,
.condition,
.sunrise,
.sunset,
.humidity,
.pressure {
    color: white;
}

.current-weather {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin: 10px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
}

.current-weather-extra {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin: 10px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
}

#change-unit {
    border: none;
    background-color: white;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
}

#change-unit:hover {
    cursor: pointer;
    background-color: rgb(201, 201, 201);
}

#change-unit:active {
    background-color: rgb(143, 143, 143);
}

/* Footer */
footer {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    flex-shrink: 1;
}
